<!DOCTYPE html>
<html>
<head>
    <title>Listado de Ventas</title>
</head>
<body>
    <h1>Listado de Ventas</h1>
    <table>
        <thead>
            <tr>
                <th>Número de Factura</th>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Descuento</th>
                <th>Monto Final</th>
                <th>Detalles</th>
            </tr>
        </thead>
        <tbody>
            {% for venta in ventas %}
                <tr>
                    <td>{{ venta.numero_factura }}</td>
                    <td>{{ venta.fecha }}</td>
                    <td>{{ venta.cliente.nombre }}</td>
                    <td>{{ venta.descuento }}</td>
                    <td>{{ venta.monto_final }}</td>
                    <td><a href="{% url 'detalle_venta' venta.id %}">Ver Detalles</a></td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6">No hay ventas disponibles.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'index' %}">Volver a la página principal</a>

</body>
</html>
