<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Listado de Proveedores</title>
</head>
<body>
    <h1>Listado de Proveedores</h1>
    
    <ul>
        {% for proveedor in proveedores %}
            <li>
                <strong>Código:</strong> {{ proveedor.codigo }}<br>
                <strong>Nombre:</strong> {{ proveedor.nombre }}<br>
                <strong>Dirección:</strong> {{ proveedor.direccion }}<br>
                <strong>Teléfono:</strong> {{ proveedor.telefono }}<br>
                <strong>Página Web:</strong> {{ proveedor.pagina_web }}<br>
            </li>
        {% empty %}
            <li>No hay proveedores disponibles.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'index' %}">Volver a la página principal</a>

</body>
</html>
